.testimonials {    
    display: flex;
    align-items: center;   
    max-width: 128rem;
    width: 84%;
    height: 80%;
    background: url(../images/pattern-quotes.svg) no-repeat 95px 164px
                ,url(../images/pattern-bg.svg) no-repeat 500px 23px;
    font-size: 3.2rem;

    &-item {
        display: flex;
        align-items: center;
    }

    &__info {
        width: 52%;
        z-index: 1;
    }

    &__img {
        position: relative;
        right: 6rem;
        z-index: 0;

        img {
            border-radius: 5px;
            box-shadow: 20px 40px 50px -30px rgba($color-dark-blue, .5);
        }
    }

    &__navigate {
        display: flex;
        position: absolute;
        bottom: -20px;
        left: 65px;


        &--prev {            
            border-top-left-radius: 50px;           
            border-bottom-left-radius: 50px;
            background: $color-white;
            width: 55px;
            height: 55px;
            background: url(../images/icon-prev.svg) no-repeat center
                        ,$color-white;

            &:hover {
                transform: translateY(-2%);
                box-shadow: 0px 5px 5px 0px rgba($color: #000000, $alpha: .2);
                z-index: 1;
            }
        }

        &--next {
            border-top-right-radius: 50px;           
            border-bottom-right-radius: 50px;
            background: $color-white;
            width: 55px;
            height: 55px;
            background: url(../images/icon-next.svg) no-repeat center
                        ,$color-white;

            &:hover {
                transform: translateY(-2%);
                box-shadow: 0px 5px 5px 0px rgba($color: #000000, $alpha: .2);
                z-index: 1;
            }
        }
    }

    &__name {
        margin-top: 4rem;
        font-size: 2rem;
        font-weight: 600;        
    }

    &__profession {
        color: $color-grayish-blue;
        font-weight: 500;
    }
}

.attribution {
    position: absolute;
    bottom: 5px;
    font-size: 11px; text-align: center; 

    a { 
        color: hsl(228, 45%, 44%); 
    }
}

